/* Write your CSS code here */
.not-images {
  height: 300px;
  width: 300px;
  margin-bottom: 10px;
}
.not-heading {
  font-size: 30px;
  font-weight: 500;
  font-family: Roboto;
  color: #551e53;
}
.not-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
